<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <h3 class="text-white">Funciones básicas con Angular</h3>
</nav>

<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h3 class="text-secondary">Tareas del grupo</h3>
    </div>
  </div>
  <div class="row mt-2">

    <div class="col-12" *ngFor="let tarea of tareas">

      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header d-flex justify-content-between">
          <div *ngIf="formEditar !== tarea.id">
            {{tarea.nombre}}
          </div>
          <div *ngIf="formEditar === tarea.id">
            <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="tarea.nombre">
          </div>
          <div class="lapiz" (click)="editar(tarea)">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title" *ngIf="formEditar !== tarea.id">{{tarea.titulo}}</h5>
          <input class="form-control" type="text" placeholder="Título de la tarea" *ngIf="formEditar === tarea.id" [(ngModel)]="tarea.titulo">
          <p class="card-text" *ngIf="formEditar !== tarea.id">{{tarea.comentario}}</p>
          <p class="card-text mt-2" *ngIf="formEditar === tarea.id">
            <textarea class="form-control" rows="3" placeholder="Comentarios" [(ngModel)]="tarea.comentario"></textarea>
          </p>
        </div>
      </div>

    </div>

    <div class="col-12" *ngIf="tareaNueva">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="nuevaTarea.nombre">
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">
            <input class="form-control" type="text" placeholder="Título de la tarea" [(ngModel)]="nuevaTarea.titulo">
          </h5>
          <p class="card-text">
            <textarea class="form-control" rows="3" placeholder="Comentarios" [(ngModel)]="nuevaTarea.comentario"></textarea>
          </p>
          <button type="button" class="btn btn-outline-success" (click)="agregarTarea()">Agregar</button>
          <button type="button" class="btn btn-outline-danger" (click)="mostrarForm()">Cancelar</button>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark" (click)="mostrarForm()" *ngIf="!tareaNueva">Agregar tarea</button>
    </div>
  </div>
</div>